<div class="row" ng-controller='movieboxView.movieboxViewCtrl'>
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <form class="navbar-form pull-left">
          <input type="text" class="search-query" ng-model="searchq" placeholder="cerca ..." >
          <button class='btn' ng-click='searchChanged()'>Applica filtro</button>
          <span 'navbar-text'>Categorie</span>
          <select ng-model='selectedCategory' ng-change='categoryChanged(selectedCategory)'>
            <option>Tutte</option>
            <option ng-repeat='(k,v) in categories'>{{v}}</option>
          </select>
        </form>
      </div>
    </div>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tabFilm" data-toggle="tab" ng-click="showMovies()">Film</a>
        </li>
        <li>
          <a href="#tabSerie" data-toggle="tab" ng-click="showSeries()">Serie TV</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tabFilm">
          <posters search='searchm' items='movies' item-kind='movie' clicked="itemClicked(item,kind)" descrizione-clicked="descrizioneClicked(item,kind)"></posters>
          <div class="span11" ng-show="(pageCount > 1) && (searchm=='')" style='text-align: center'>
            <pagination on-select-page="movies = pageChanged(page,allMovies)" num-pages="pageCount" current-page="currentPage" max-size="maxPages"></pagination>
          </div>
        </div>
        <div class="tab-pane" id="tabSerie">
          <posters search='searchs' items='series' item-kind='serie' clicked="itemClicked(item,kind)" descrizione-clicked="descrizioneClicked(item,kind)"></posters>
          <div class="span11" ng-show="(pageCount > 1) && (searchs=='')" style='text-align: center'>
            <pagination on-select-page="series = pageChanged(page,allSeries)" num-pages="pageCount" current-page="currentPage" max-size="maxPages"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
